* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
}

button {
  font-family: "Mulish", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d6d6d6;
}

.color {
  background: #0f5017;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.color .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.color .adjust,
.color .lock {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

.color .sliders {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  background: white;
  padding: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.color .sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  color: white;
  background: #1f213f;
  cursor: pointer;
  font-weight: bold;
}

.color .sliders input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 1rem 0rem;
  width: 100%;
}

.color .sliders input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #1f213f;
}

.color .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.panel {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #1f213f;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.panel p {
  font-size: 1.2rem;
}

.panel .library-panel,
.panel .generate-panel,
.panel .save-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.copy-container .copy-popup,
.copy-container .save-popup,
.copy-container .library-popup,
.save-container .copy-popup,
.save-container .save-popup,
.save-container .library-popup,
.library-container .copy-popup,
.library-container .save-popup,
.library-container .library-popup {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-container .copy-popup h4,
.copy-container .save-popup h4,
.copy-container .library-popup h4,
.save-container .copy-popup h4,
.save-container .save-popup h4,
.save-container .library-popup h4,
.library-container .copy-popup h4,
.library-container .save-popup h4,
.library-container .library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.copy-container .library-popup,
.save-container .library-popup,
.library-container .library-popup {
  min-width: 40%;
  padding: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
  border: none;
  color: white;
  background: #1f213f;
  cursor: pointer;
  font-weight: bold;
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: #1f213f;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

.custom-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.custom-palette h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.custom-palette button {
  height: 5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: #1f213f;
  color: white;
}

.small-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.small-preview div {
  height: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=style.css.map */